body {
	background-color: rgb(100, 100, 100);
	color: rgb(30, 30, 30)
    font-family: Courier;
}

h1 {
	color: black;
	.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

	letter-spacing: 10px;
	font-size: 52px;
	text-transform: uppercase;
}
h2{
	font-size: 25px;
	font-family: Papyrus;
}
a{
	color: unset;
	text-decoration: none;
}
a:hover {
	color: brown;
}
.container{
margin: 40px auto;
width: 900px;
}

@media (max-width: 850px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 650px) {
	.container {
		width: 575px;
	}
}

@media (max-width: 550px) {
	.container {
		width: 400px;
	}
}

.card-white {
background-color: white;
padding: 30px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
border-radius: 6px;
margin: 20px 0px;
text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue{
	background-color: #BFC6C4;
	padding: 10px 25px;
	border-radius: 6px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 30px;
	font-size: 35px;
}
#introduction p {
	margin-bottom: 30px;
}
div {
	background-color: white;
	border: 2px ;
	margin: 10px;
}